/* ***************************************** 
            RESPONSIVE- MOBILE-FIRST 
******************************************* */

/* XS extra small < 576px - default css*/




/***** SM - small < 576px ***************************/
@media screen and (min-width: 576px) {
    *{
        border-color: blue;
    }
}

/***** MD - medium < 768px **************************/
@media screen and (min-width: 768px) {

    *{
        border-color: fuchsia;
    }
}
/***** LG - large < 992px ****************************/

@media screen and (min-width: 992px) {
    *{
        border-color: green;
    }
    
}



/***** XL - large < 992px ****************************/

@media screen and (min-width: 1200px) {
    *{
        border-color: rgb(255, 222, 32);
    }

}
