
/*********STUDIO ****************/
* {
  /*   border: 1px solid rgb(214, 138, 138); */
}
/*********VARIABILI **************/
:root {

    --_primary: #00439c;
    --_primary-dark: #161c3b;

    --_secondary: #1f1f1f;
    --_secondary-dark: #000000;

    --_tertiary: #ffffff71;
    --_tertiary-light: #d9dadc;
}

/*********GENERALI ****************/
a{text-decoration: none;}

/*********UTILITIES***************/
.my_txt_primary {
    color: var(--_primary);
}

.my_txt_light {
    color: white;
}

.my_txt_dark {
    color: var(--_secondary-dark);
}

.my_bg_primary {
    background-color: var(--_primary);
}

.my_bg_primary-dark {
    background-color: var(--_primary-dark);
}

.my_bg_secondary {
    background-color: var(--_secondary);
}

.my_bg_secondary-dark {
    background-color: var(--_secondary-dark);
}

.my_bg_tertiary {
    background-color: var(--_tertiary);
}

.my_bg_tertiary-light {
    background-color: var(--_tertiary-light);
}

/* ------------------------------------------------- */

.bunner_card.my_card {
    padding-top: 12rem;
    padding-bottom: 2rem;
}




/************** NAV-LIGHT ******************/
.dark-nav-logo {
    height: 1.5rem;
}

nav input[type="search"] {
    background-image: url(../img/lens.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5rem;
    width: 2rem;
    transition: width 0.5s;
    border: none;


}

nav input[type="search"]:focus {
    width: 15rem;
    aspect-ratio: initial;
    background-size: 1.5rem;
    background-position: right;
}


/************** JUMBOTRONE ******************/

#jumbotrone {
    background-image: url(../img/jumbo-bg.png);
}


.jumbo-bunner{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* ________________________________________sistemare */
}

.bunner_card.my_card {
    padding-top: 12rem;
    padding-bottom: 2rem;
}


/************** JUMBOTRONE ******************/

#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}