/*********STUDIO ****************/
* {
    border: 1px solid black;
}

/*********VARIABILI **************/
:root {

    --_primary-light: #4388e1;
    --_primary: #00439c;
    --_primary-dark: #161c3b;

    --_secondary: #1f1f1f;
    --_secondary-dark: #000000;

    --_tertiary: #bebcbb;
    --_tertiary-light: rgba(255, 255, 255, 0.375);
}

/*********GENERALI ****************/
a {
    text-decoration: none;
    color: white;
}

/*********UTILITIES***************/
.my_txt_primary {
    color: var(--_primary);
}

.my_txt_light {
    color: white;
}

.my_txt_dark {
    color: var(--_secondary-dark);
}

.my_bg_primary {
    background-color: var(--_primary);
}

.my_bg_primary-dark {
    background-color: var(--_primary-dark);
}

.my_bg_secondary {
    background-color: var(--_secondary);
}

.my_bg_secondary-dark {
    background-color: var(--_secondary-dark);
}

.my_bg_tertiary {
    background-color: var(--_tertiary);
}

.my_bg_tertiary-light {
    background-color: var(--_tertiary-light);
}

/* ------------------------------------------------- */

.jumbo-bunner {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}



/************** NAV-LIGHT ******************/
.dark-nav-logo {
    height: 1.5rem;
}

/*.........SEARCH......................... */
nav input[type="search"] {
    background-image: url(../img/lens.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5rem;
    width: 2rem;
    height: 1.5rem;
    vertical-align: baseline;
    transition: width 0.5s;
    border: none;
}

nav input[type="search"]:focus {
    width: 14.5rem;
    aspect-ratio: initial;
    background-size: 1.5rem;
    background-position: right;
}

#user-nav input[type="search"]:focus+ul {
    display: none;
}

#user-nav ul {
    display: flex;
}

/*........DROPDOWN......................... */
/* 
nav{
    position:sticky;
    top: 0;  
} */

nav a:hover {
    color: var(--_primary-light);
}

/* nav {
    position: sticky;
    top: 0;
}

#light-nav {
    position: relative;
}
 */
#dropdown-nav .my_dropdown {
    border-bottom: 1px solid rgb(201, 201, 201);
}

#dropdown-nav .drop {
    display: none;
    position: absolute;
    top: 55px;
    /*     left: 0;
    right: 0; */
}

.my_nav_card:hover {
    box-shadow: 1px 2px 10px 2px rgb(201, 201, 201);
}

.drop-li {
    box-shadow: 0 2px 3px 1px rgb(201, 201, 201);
}

.drop-li li::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    background-color: var(--_primary-light);
    aspect-ratio: 1/1;
    width: 10px;
}


/*........HAMBURGER-MENU-DROPDOWN.................... */

#lg-nav-dx {
    display: none;
}

#xs-nav-dx:focus+#lg-nav-dx>#dropdown-nav>ul {
    display: flex;
    flex-direction: column;
}

#xs-nav-dx:focus+#lg-nav-dx {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: -1rem;
    ;
    left: -1rem;
    text-align: start;
    background-color: white;
    width: 100vw;
    padding-top: 1rem;

}

#xs-nav-dx:focus+#lg-nav-dx>#user-nav ul {
    flex-direction: column;
}

#xs-nav-dx:focus+#lg-nav-dx>#user-nav .drop {
    display: none;
}

#xs-nav-dx:focus+#lg-nav-dx .dropdown {
    display: block;
}

#xs-nav-dx:focus+#lg-nav-dx .dropdown a {
    padding: 5px;
}

#xs-nav-dx:focus+#lg-nav-dx .my_dropdown,
#xs-nav-dx:focus+#user-nav .my_dropdown {
    margin-left: 1.2rem;
}

.my_dropdown a i {
    display: inline-block;
    font-size: 1.5rem;
    padding-right: 0.2rem;
    color: var(--_tertiary-dark);
}

/************** JUMBOTRONE ******************/

#jumbotrone {
    background-image: url(../img/jumbo-bg.png);
}

#jumbotrone .my_card {
    padding-top: 12rem;
    padding-bottom: 2rem;
}


/******** IT TAKES TWO BUNNER **************/

#it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*********** FOOTER ************************/

.language-globe {
    width: 1.2rem;
}

.footer-ps-logo {
    width: 15%;
}

/********************************************************/
/* TABSET JUMBOTRONE YO! */
/*******************************************************/

/* è una row, prende la misura dai figli, non serve metterla in d-none, si annulla in automatico coi figli */
#tab-bunner-set {
    position: relative;
}

#tab-bunner-set .bunner-tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

#tabset-container input {
    position:absolute;
    visibility: hidden;
  

}

#tab1 {
    background-image: url(../img/jumbo-bg.png);
}

#tab2 {
    background-image: url(../img/crash-bandicoot-4-its-about-time-store-art.jpg);
}

#tab-bunner-set .bunner-tab .my_card {
    padding-top: 12rem;
    padding-bottom: 2rem;
}

/* 

/* questa funziona*/
/* #tabset-container input:first-of-type:checked ~ #tab-bunner-set section:first-child{
    display: block;
} */

#tabset-container input:first-of-type:checked ~ #tab-bunner-set section:first-child,
#tabset-container input:nth-of-type(2):checked ~#tab-bunner-set section:nth-child(2),
#tabset-container input:nth-of-type(3):checked ~#tab-bunner-set section:nth-child(3),
#tabset-container input:nth-of-type(4):checked ~#tab-bunner-set section:nth-child(4),
#tabset-container input:nth-of-type(5):checked ~#tab-bunner-set section:nth-child(5),
#tabset-container input:last-of-type:checked ~ #tab-bunner-set section:last-child{
    display: block;
}